{% extends 'base.html' %}
{% load static %}
{% block body %}
                            <!-- header -->
                            <!-- hero -->
                            <div class="container-fluid p-0" >
                              <div class="site-content" style="height: 450px; background-image: url({% static 'Stock/coord_bg.jpg' %});">
                                <div class="d-flex justify-content-center" >
                                  <div class="d-flex flex-column" style="padding-top: 120px">
                                    <h1 class="site-title  justify-content-center" style="text-align: center;">Privacy Policy
                                    </h1>
                                    <p class="site-desc"></p>

                                  </div>

                                </div>
                              </div>  
                            </div>

                            <div>

<section>
                              <div class="container">
                                <!-- <p style="font-weight:bold;"> Awards And Recognition</p> -->
                                <h3>Privacy Policy</h3>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">•  International Student Olympiad Foundation collects your personal information like Name, Email, Phone Number only voluntarily by you to provide a more personalised experience.

                                  </li>
                                  <li class="list-group-item">• International Student Olympiad Foundation may utilize your contact data to send you notices with respect to new developments and offers by International Student Olympiad Foundation that we figure you may find relevant. International Student Olympiad Foundation may likewise send you administration related announcements from time to time. You do have an option of unsubscribing from these emails; however, International Student Olympiad Foundation claims all authority to send you notifications about your account, regardless of whether you opt out of all such emails. 
                                  </li>
                                  <li class="list-group-item"> •  Please be educated that we request Facebook and Google Plus for your public profile, name and email id. 
                                  </li>
                                  <li class="list-group-item"> •  International Student Olympiad may utilize anonymous information gathered through the Service, including Activity Data, for any purpose

                                  </li>
                                  <li class="list-group-item"> • No Content from this site might be replicated, republished, repeated, transferred, posted, transmitted, or appropriated in any capacity whatsoever. 
                                  </li>
                                  <li class="list-group-item"> • We use cookies to store and gather information for a better user experience. It saves your preferences and your interaction with the site for faster experience.
                                  </li>
                                  <li class="list-group-item"> • For any questions or assistance regarding the Privacy Policy, you can reach out to us using the Contact page.

                                  </li>
                                  <li class="list-group-item"> • The Privacy Policy may change as and when required and you are expected to review it from time to time</li>



                                </ul>


                              </section>
                              <!-- <section> -->
                              <div class="container">
                                <!-- <p style="font-weight:bold;"> Awards And Recognition</p> -->
                                <h3>Terms And Conditions</h3>
                                <ul class="list-group list-group-flush">
                                  
                                  <li class="list-group-item"> • Our website incorporates yet isn't constrained to making an account, buying and utilizing Digital Content, or utilizing any other feature on our webpages

                                  </li>
                                   <li class="list-group-item"> • By enrolling, you grant us permission to add your email to the subscription list. Additionally, you approve us to send regular updates via email and SMS on your registered email id and phone number respectively. 

                                  </li>
                                   <li class="list-group-item"> •  All the content present on our website is the copyrighted work of International Student Olympiad Foundation or our partners.
                                  </li>
                                   <li class="list-group-item"> • No Content from this site might be replicated, republished, repeated, transferred, posted, transmitted, or disseminated in any capacity whatsoever. 
                                  </li>
                                   <li class="list-group-item"> • On buying any Digital Content from the website, you take responsibility to ensure that your PC or tablet meets the basic framework and system requirements for the content to render appropriately. On the off chance that you don't know, we emphatically prescribe you to test our digital content before purchasing. Refund will not be provided on this basis.
                                  </li>
                                   <li class="list-group-item"> • We maintain all authority to change or stop the proposal of any Digital Content or any other service. 

                                  </li>
                                   <li class="list-group-item"> • Time and again, we may offer special discounts for a limited time, subject to change and accessibility. The offers may apply to only some specific content and benefits and must be utilized as indicated.
                                  </li>
                                   <li class="list-group-item"> • By consenting to these guidelines, you accept that you won't post any messages that are indecent, disgusting, explicitly situated, disdainful, undermining, or in any case violative of any laws. 

                                  </li>
                                   <li class="list-group-item"> • The owners of the International Student Olympiad Foundation reserve all authority to remove, alter, move or close any content for any reason whatsoever.

                                  </li>
                                   <li class="list-group-item"> • Under no circumstance shall International Student Olympiad Foundation be responsible for any lost data or information.

                                  </li>
                                  <!--  <li class="list-group-item"> • 
                                  </li>
                                   <li class="list-group-item"> • 
                                  </li>
                                   <li class="list-group-item"> • 
                                  </li>
 -->


                                </ul>

<br>
<br>
                              </section>


                            </div>
                          </section>
                        </div>
{% endblock %}

