{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="container-fluid p-0" >
    <div class="site-content" style="height: 450px; background-image: {% static 'Stock/download (1).jpg' %};">
      <div class="d-flex justify-content-center" >
        <div class="d-flex flex-column" style="padding-top: 120px">
          <h1 class="site-title  justify-content-center" style="text-align: center;">Change Password
          </h1>
          <p class="site-desc"></p>

        </div>

      </div>
    </div>
  </section>

  <div >
    <center><br>

    </center><br>

    <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-1"><ion-icon name="lock-closed"></ion-icon></div>
      <div class="group col-md-11">

        <span class="highlight"></span>
        <span class="bar"></span>

        {% comment %} <label  for="oldpass">Old Password *</label> {% endcomment %}
        <input type="password" name="oldpass" id="oldpass" placeholder="Old Password*" required>
      </div >
    </div>

    <div class="row">
      <div class="col-md-1"><ion-icon name="lock-closed"></ion-icon></div>
      <div class="group col-md-5">

        <span class="highlight"></span>
        <span class="bar"></span>
        {% comment %} <label name="newpass">New Password *</label> {% endcomment %}
        <input type="password" name="newpass" id="newpass" placeholder="New Password*" required>
      </div >
      <div class="col-md-1"><ion-icon name="lock-closed"></ion-icon></div>
      <div class="group col-md-5">

        <span class="highlight"></span>
        <span class="bar"></span>
        {% comment %} <label name="newpass2">Confirm Password *</label> {% endcomment %}
        <input type="password" name="newpass2" id="newpass2" placeholder="Confirm Password*" required>

      </div >
      </div>

      <center>
        <input type="submit" value='UPDATE' class="review-btn">
        </center>
        </form>
  </div>

  {% endblock %}
