{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block body %}
{% load static %}

<body style="background: lightgray;">

</body>
<style>
  .box {
    background-color: rgb(248, 165, 116);
    width: auto;
    display: flex;
    height: auto;
    border: 7px solid lightcyan;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 1285px;
  }

  .btn-submit {
    width: 200px;
    padding: 4px;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    border: none;
    border-radius: 3px;
    background-color: #f04124;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    margin-bottom: 8px;
  }
</style>
<div class="container-fluid p-0">
  <div class="site-content" style="height: 400px; background-image: url({% static 'Stock/contact_bg.jpg' %});">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column" style="padding-top: 80px">
        <h1 class="site-title  justify-content-center" style="text-align: center;">Contact Us
        </h1>
        <p class="site-desc"></p>

      </div>

    </div>
  </div>
</div>
<div class="fancy-contact-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="googleMap"></div>
      </div>
    </div>
    <div class="box">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="contact-details-area">
            <div class="section-heading">
              <h2>Contact Us</h2>
              <p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what
                suits you the most.</p>
            </div>
            <p>(+971) 056 882 4451 <br> info.olympiad@gmail.com
            </p>
            <p>Level 20, 48 Burj Gate Tower <br>Dubai, UAE, P.O.BOX 36615</p>
            <p>Open hours: 8.00-18.00 Mon-Fri <br> Sunday: Closed</p>
          </div>

        </div>
        <div class="col-12 col-md-6">
          <div class="contact-form-area">
            <div class="section-heading">
              <h2>Get In Touch With Us!</h2>
              <p>Fill out the form below to allow us to solve your queries.</p>
            </div>
            <div class="contact-form">

              <form name="form1" action="{% url 'contact' %}" method="post" onsubmit="return regEx()">
                {% csrf_token %}
                <div class="contact_input_area">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <input type="tel" name="mobile_number" id="mobile_number" class="form-control" required>
                      <div class="invalid-feedback" style="font-size: 16px;">
                        Please provide a valid Mobile Number.
                      </div>
                    </div>
                    <input type="hidden" name="phonenum" id="phonenum">
                    <div class="col-12">
                      <div class="form-group">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="5"
                          placeholder="Messages" required></textarea>
                      </div>
                    </div>
                    <div class="col-12">
                      <input type="submit" name="submit" value="Send Message" class="btn-submit">
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  const phoneInputField = document.querySelector("#mobile_number");
  const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });

  function regEx() {
    function testName() {
      var check = true;
      const name_regex = /^[a-z ,.'-]+$/i;
      var first_name = document.getElementById("name");
      if (!name_regex.test(first_name.value)) {
        check = false;
        first_name.classList.add("is-invalid");
        first_name.classList.remove("is-valid");
      } else {
        first_name.classList.add("is-valid");
        first_name.classList.remove("is-invalid");
      }
      const email = document.getElementById('email');
      const regEx_Email = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/;
      if (!regEx_Email.test(email.value)) {
        check = false;
        email.classList.add("is-invalid");
        email.classList.remove("is-valid");
      } else {
        email.classList.add("is-valid");
        email.classList.remove("is-invalid");
      }
      const mobile_number = document.getElementById('mobile_number');
      const number = document.getElementById('phonenum');
      const phoneNumber = phoneInput.getNumber();
      const regEx_Number = /^[0-9]*$/;
      if (!regEx_Number.test(mobile_number.value)) {
        check = false;
        mobile_number.classList.add("is-invalid");
        mobile_number.classList.remove("is-valid");
      } else {
        mobile_number.classList.add("is-valid");
        mobile_number.classList.remove("is-invalid");
        console.log(phoneNumber)
        number.value = phoneNumber;
      }
      return check;
    }

    return testName();

  }
</script>
{% endblock %}