{% extends "base.html" %}
{% block title %} Coordinator {% endblock %}
{% block body %}
{% load static %}

<body style="background-color: lightgray;">

</body>
<style>
  .box {
    margin: 20px auto;
    background-color: white;
    width: auto;
    display: flex;
    flex: row;
    height: auto;
    border: 6px solid black;
    border-radius: 20px;
    bottom: -20px;
  }

  .sizing {
    box-sizing: content-box;
    width: auto;
    background-color: lightblue;
    border-width: 20px;
    display: flex;
    flex: row;

  }
</style>
<!-- hero -->
<div class="container-fluid p-0">
  <div class="site-content" style="height: 400px; background-image: url({% static 'Stock/coord_bg.jpg' %});">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column" style="padding-top: 80px">
        <h1 class="site-title  justify-content-center" style="text-align: center;">Become A Coordinator
        </h1>
        <p class="site-desc"></p>

      </div>

    </div>
  </div>
</div>
{% for message in messages %}
<script>
  window.onload = function () {
    Swal.fire({
      title: '{{ message.tags }}',
      text: '{{message}}',
      icon: "{{ message.tags }}",
      confirmButtonText: 'Ok'
    })
  }
</script>
{% endfor %}
<div class="fancy-contact-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="googleMap"></div>
      </div>
    </div>
    <div class="sizing">
      <div class="row">
        <div class="col-12 col-md-12">
          <div>
            <div class="section-heading">
              <h2>Become a Coordinator</h2>
              <p>Are you looking to become a Coordinator with International Olympiad Foundation Olympiads?</p>
            </div>
            <p>If yes, then you can join us to become our coordinator for your specified location.
            </p>
            <p> All the educators i.e. teachers, principals, mentors, tutors, or any other people, can become a
              coordinator with us.<br></p>
            <p>Fill out the form to get in touch with us</p>
          </div>
          <div class="box">
            <div class="col-12 col-md-12">
              <div class="contact-form-area">
                <div class="section-heading">
                  <h2>Get In Touch With Us!</h2>
                  <p>Fill out the form below to become a coordinator</p>
                </div>
                <div class="contact-form">
                  <form name="form2" action="" method="post" onsubmit="return regEx()">
                    {% csrf_token %}
                    <div class="contact_input_area">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                              required>
                          </div>
                        </div>
                        <div class="col-12" style="margin-bottom: 10px;">
                          <label for="mobile_number" class="form-label">Mobile Number</label>
                          <input type="tel" name="mobile_number" id="mobile_number" class="form-control"
                            required>
                          <div class="invalid-feedback" style="font-size: 16px;">
                            Please provide a valid Mobile Number.
                          </div>
                        </div>
                        <input type="hidden" name="phonenum" id="phonenum">
                        <div class="col-12">
                          <div class="form-group">
                            <textarea name="message" class="form-control" id="message" cols="30" rows="5"
                              placeholder="Message" required></textarea>
                          </div>
                        </div>
                        <div class="col-12">
                          <input class="btn review-btn" type="submit" name="submit" value="Submit">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
{% block js %}
<script>
  const phoneInputField = document.querySelector("#mobile_number");
  const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });

  function regEx() {
    function testName() {
      var check=true;
      const name_regex = /^[a-z ,.'-]+$/i;
      var first_name = document.getElementById("name");
      if (!name_regex.test(first_name.value)) {
        check = false;
        first_name.classList.add("is-invalid");
        first_name.classList.remove("is-valid");
      } else {
        first_name.classList.add("is-valid");
        first_name.classList.remove("is-invalid");
      }
      const email = document.getElementById('email');
      const regEx_Email = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/;
      if (!regEx_Email.test(email.value)) {
        check = false;
        email.classList.add("is-invalid");
        email.classList.remove("is-valid");
      } else {
        email.classList.add("is-valid");
        email.classList.remove("is-invalid");
      }
      const mobile_number = document.getElementById('mobile_number');
      const number = document.getElementById('phonenum');
      const phoneNumber = phoneInput.getNumber();
      const regEx_Number = /^[0-9]*$/;
      if (!regEx_Number.test(mobile_number.value)) {
        check = false;
        mobile_number.classList.add("is-invalid");
        mobile_number.classList.remove("is-valid");
      } else {
        mobile_number.classList.add("is-valid");
        mobile_number.classList.remove("is-invalid");
        console.log(phoneNumber)
        number.value = phoneNumber;
      }
      return check;
    }

    return testName();

  }
</script>
{% endblock %}