{% extends 'base.html' %}
{% load static %}
{% block body %}

<body style="padding-top=80px;">
  <style>
    .box {
      align-items: center;
      justify-content: center;
      background-color: lightgrey;
      width: auto;
      max-width: 700px;
      border: 15px solid black;
      margin-bottom: 80px;

    }

    .box1 {
      background-color: lightgrey;
      width: auto;
      width: auto;
      max-width: 1000px;
      border: 10px solid rgb(185, 61, 61);
      padding: 15px;
      justify-content: center;
      align-items: center;
      border-radius: 35px;
      margin: auto auto 60px auto;
    }

    .box2 {
      background-color: rgb(248, 165, 116);
      width: auto;
      margin: 50px 50px 50px 50px;
      height: auto;
      border: 6px solid black;
      border-radius: 10px;
    }

    a {
      color: rgba(255, 0, 0, 0.7);
      line-height: inherit;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: red;
      font-weight: bold;
      text-shadow: 1px 1px black;
    }

    #dropdownMenuButton:hover {
      color: red;
      font-weight: bold;
      text-shadow: 1px 1px black;
    }

    .row,
    .group {
      margin-top: -10px;
    }

    @media (max-width: 767px) {
      ion-icon {
        display: none;
      }

      .m-i-i {
        display: block;
      }
    }
  </style>

  <!-- hero -->
  <section class="container-fluid p-0">
    <div class="site-content" style="height: 450px; background-image: url({% static 'Stock/download (1).jpg' %});">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column" style="padding-top: 120px">
          <h1 class="site-title  justify-content-center" style="text-align: center;">Welcome,
            {{request.user.first_name}} {{request.user.last_name}}
          </h1>
          <p class="site-desc"></p>

        </div>

      </div>
    </div>
  </section>

  <section class="menu" id="menu" style="padding: 10px;">
    <p class="menu-text" id="menu-text">
      << CLICK TO VIEW MORE</p> <p class="menu-text-one" id="menu-text-one"> CLICK TO VIEW MORE >>
    </p>
    <div class="menu-btn" onclick="menuOpen()" id="menu-ion-icon">
      <ion-icon class="m-i-i" name="caret-forward-outline"></ion-icon>
    </div>
    <h1 style="color: #fff;margin: 20px;">
      MENU
    </h1>
    <hr style="border-bottom: 2px solid #fff; box-shadow: 0px 1px 2px #0009;">
    <a class="menu-link" href="{% url 'subscriptions' %}">Book your exam</a>
    <div class="dropdown nav-item">

      <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Profile
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" onclick="show('profile')">Profile</a>
        <a class="dropdown-item" href="#" onclick="show('changepassword')">Change Passwords</a>
        <a class="dropdown-item" href="#" onclick="show('submitdocuments')">Submit Documents</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#previewCerificate">Preview Certificate</a>
      </div>
    </div>
    <div class="dropdown nav-item">
      <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Result
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" onclick="show('challenge')">Answer keys and challenges</a>
        <a class="dropdown-item" href="#" onclick="show('result')">Final Result</a>
      </div>
    </div>
    <div class="dropdown nav-item">
    </div>
    <div class="dropdown nav-item">
      <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Give Test
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" onclick="show('subjects')">Mock Test</a>
        <a class="dropdown-item" href="#" onclick="show('subjects_finalexam')">Final Exam</a>
        <a class="dropdown-item" href="{% url 'quiz_progress' %}">Progress</a>
      </div>
    </div>
    <div class="dropdown nav-item">
      <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Support
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" data-toggle="modal" data-target="#feedback">Feedback</a>
        <a class="dropdown-item" href="{% url 'contact' %}"> Contact Us</a>
      </div>
    </div>


    <a href="{% url 'logout' %}" class="menu-link">LOGOUT</a>
  </section>
  <br><br><br>


  {% for message in messages %}
  <script>
    window.onload = function () {
      Swal.fire({
        title: '{{ message.tags }}',
        text: '{{message}}',
        icon: "{{ message.tags }}",
        confirmButtonText: 'Ok'
      })
    }
  </script>
  {% endfor %}
  <div class="container shown" id="profile">

    <br>
    <div class="box1">
      <br><br>
      <form action="{% url 'update_student' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-1">
            <ion-icon name="person-circle-outline" style="margin-bottom:10px"></ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" value="{{ request.user.first_name}}" readonly="true">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile"> Name</label>
          </div>
          <div class="col-md-1">
            <ion-icon name="person-circle-outline"></ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" value="{{ request.user.parent_name }}" readonly="true">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">Parent / Guardian Name *</label>
          </div>

        </div>
        <div class="row">
          <div class="col-md-1">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" value="{{ request.user.dob }}" readonly="true">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">Date of Birth *</label>
          </div>
          <div class="col-md-1">
            <ion-icon name="mail"></ion-icon>
            </ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" value="{{ request.user.email }}" readonly="true">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">E-mail *</label>
          </div>

        </div>
        <div class="row">
          <div class="col-md-1">
            <ion-icon name="location"></ion-icon>
            </ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" name="address" value="{{ request.user.address }}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">/House No. / Street/ Locality *</label>
          </div>
          <div class="col-md-1"></div>
          <div class="group col-md-5">
            <input type="text" name="city" value="{{ request.user.city }}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">City *</label>
          </div>

        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="group col-md-5">
            <input type="number" name="number" value="{{ request.user.number }}" readonly>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">Mobile Number</label>
          </div>


          <div class="col-md-1"></div>
          <div class="group col-md-5">
            <input type="text" name="state" value="{{ request.user.state }}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">State*</label>
          </div>

        </div>

        <div class="row">
          <div class="col-md-1">
            <ion-icon name="location"></ion-icon>
            </ion-icon>
          </div>
          <div class="group col-md-5">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">Country *</label>
            {% load countries %}
            {% get_countries as countries %}
            <select name="country" id="country" value="{{ request.user.country }}" placeholder="Choose Your country"
              readonly="true">
              {% for country in countries %}
              {% if country.name == request.user.country %}
              <option value="{{ country.name }}" selected>{{ country.name }}</option>
              {% else %}
              <option value="{{ country.name }}">{{ country.name }}</option>
              {% endif %}
              {% endfor %}
            </select>

          </div>
          <div class="col-md-1">
            <ion-icon name="location"></ion-icon>
            </ion-icon>
          </div>

          <div class="group col-md-5">
            <input type="text" name="school_state" value="{{ request.user.school_state }}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">School State *</label>
          </div>


        </div>

        <div class="row">
          <div class="col-md-1">
            <ion-icon name="school"></ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" name="school" value="{{ request.user.school }}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">School Name *</label>
          </div>
          <div class="col-md-1">
            <ion-icon name="location"></ion-icon>
            </ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" name="school_address" value="{{ request.user.school_address }}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">School address *</label>
          </div>

        </div>

        <div class="row">
          <div class="col-md-1">
            <ion-icon name="location"></ion-icon>
            </ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" name="school_city" value="{{ request.user.school_city }}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">School City *</label>
          </div>
          <div class="col-md-1">
            <ion-icon name="location"></ion-icon>
            </ion-icon>
          </div>
          <div class="group col-md-5">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">School Country *</label>
            {% load countries %}
            {% get_countries as countries %}
            <select name="school_country" id="country" value="{{ request.user.school_country }}"
              placeholder="Choose Your country" readonly="true">
              {% for country in countries %}
              {% if country.name == request.user.school_country %}
              <option value="{{ country.name }}" selected>{{ country.name }}</option>
              {% else %}
              <option value="{{ country.name }}">{{ country.name }}</option>
              {% endif %}
              {% endfor %}
            </select>

          </div>
          <div class="col-md-1">
            <ion-icon name="location"></ion-icon>
            </ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" name="pincode" value="{{ request.user.pincode }}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">Pincode *</label>
          </div>

        </div>

        <div class="row">
          <div class="col-md-1">
            <ion-icon name="pencil"></ion-icon>
          </div>
          <div class="group col-md-5">
            <input type="text" value="{{ request.user.standard }}" readonly="true">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label-profile">Class *</label>
          </div>
          <div class="col-md-6">
          </div>

        </div>
        <center>
          <input type="submit" value='UPDATE' class="review-btn">
        </center>

      </form>
    </div>
  </div>

  <div class="container hide" id="changepassword">
    <center><br>
      <h1 class="register-title">Change Password</h1>
    </center><br>

    <form action="{% url 'change_password' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-1">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div class="group col-md-11">

          <span class="highlight"></span>
          <span class="bar"></sub.country= request.POST['country']span>
            <input type="password" name="oldpass" id="oldpass" placeholder="Old Password*" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div class="group col-md-5">

          <span class="highlight"></span>
          <span class="bar"></span>
          <input type="password" name="newpass" id="newpass" placeholder="New Password*" required>
        </div>
        <div class="col-md-1">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div class="group col-md-5">

          <span class="highlight"></span>
          <span class="bar"></span>
          <input type="password" name="newpass2" id="newpass2" placeholder="Confirm Password*" required>

        </div>
      </div>

      <center>
        <input type="submit" value='UPDATE' class="review-btn">
      </center>
    </form>
  </div>




  <div class="container hide" id="submitdocuments">
    <div class="box2">
      <center><br>
        <h1 class="register-title">Submit Documents</h1>
      </center><br>

      <ol>


        {% if request.user.marksheet %}
        <li>
          <strong>Your Marksheet has been submitted.</strong>

        </li>
        {% else %}
        <li>
          <strong>Your Marksheet has not been submitted submit before exam</strong>
        </li>
        {% endif %}

        {% if request.user.idproof %}
        <li>
          <strong>Your Id Proof has been submitted.</strong>
        </li>
        {% else %}
        <li>
          <strong>Your Id has not been submitted submit before exam</strong>
        </li>
        {% endif %}
        {% if request.user.idproof %}
        <li>
          <strong>Your Photograph has been submitted </strong>

        </li>
        {% else %}
        <li>
          <strong>Your Photograph has not been submitted submit before exam</strong>
        </li>
        {% endif %}





        <li>
          Only jpeg/jpg and png images are allowed with a maximum size of 200 KB. In case the file size is more than 200
          KB, <a href="https://compressimage.toolur.com/">click here</a> to compress image. (supported format – jpeg/jpg
          and png)
        </li>
        <li>



        </li>
      </ol><br>
      <form action="{% url 'uploadfiles' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-3">
          <div class="col-md-4">School ID Proof (pdf, jpg and png formats accepted):</div>
          <div class="col-md-4">



            {% if request.user.idproof_date %}
            <img src="{{request.user.idproof.url}}" width="5" height="5">
            <br>
            <br>
            <input type="file" name="idproof">
            {% else %}

            <input type="file" name="idproof"></div>

          {% endif %}
          <div class="col-md-4">

          </div>
        </div>


        <div class="row mt-3">
          <div class="col-md-4">Previous Year Marksheet (pdf, jpg and png formats accepted):</div>
          <div class="col-md-4">{% if request.user.marksheet_date %}
            <img src="{{request.user.marksheet.url}}" width="5" height="5">
            <br>
            <br>
            <input type="file" name="marksheet">
            {% else %}

            <input type="file" name="marksheet"></div>

          {% endif %}
          <div class="col-md-4">


          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">Student Photograph (jpg and png formats accepted):</div>
          <div class="col-md-4">
            {% if request.user.photograph_date %}
            <img src="{{request.user.photograph.url}}" width="5" height="5">
            <br>
            <br>
            <input type="file" name="photograph">
            {% else %}

            <input type="file" name="photograph"></div>

          {% endif %}
        </div>
    </div>

    <div class="container">
      <center>
        <input type="submit" value='Upload' class="review-btn">
        <br>
        <br>
      </center>
    </div>
    </form>
  </div>
  </div>



  <div class="container hide" id="slot">
    <center><br>
      <h1 class="register-title">Book Your Exam Slot</h1>
    </center>
    <h3><b>Points to note: </b></h3>

    <h4>
      <ol>
        <li>All the timings are in Indian Standard Time (IST).</li>
        <li>If you want to edit your pre-booked slot, you can do so by clicking the edit button. Editing of slot is
          chargeable @ Rs. 30 per slot change.</li>
      </ol>
      <div class="row table-head">
        <div class="col-md-4">
          <b>Exam name</b>
        </div>
        <div class="col-md-2">
          <b>Exam type</b>
        </div>
        <div class="col-md-2">
          <b>Exam Date</b>
        </div>
        <div class="col-md-2">
          <b>Slot time</b>
        </div>
        <div class="col-md-2">
          <b>Action</b>
        </div>
      </div>
      <hr style="border-bottom: 1px solid #0009;">
      <div class="row">
        <div class="col-md-4 exam-name">
          International Mathematics Olympiad (IMO)
        </div>
        <div class="col-md-2">
          Final Exam
        </div>
        <div class="col-md-2">
          <p class="slot-para"><b>Exam date:</b></p>May 21,2019
        </div>
        <div class="col-md-2">
          <p class="slot-para"><b>Slot time:</b></p>12:00
        </div>
        <div class="col-md-2">
          <a href="" class="slot-btn disabled">BOOK</a>
          <a href="" class="slot-btn">EDIT</a>
        </div>
      </div>
      <hr style="border-bottom: 1px solid #0009;">

      <div class="row">
        <div class="col-md-4  exam-name">
          International Mathematics Olympiad (IMO)
        </div>
        <div class="col-md-2">
          Final Exam
        </div>
        <div class="col-md-2">
          <p class="slot-para"><b>Exam date:</b></p> May 21,2019
        </div>
        <div class="col-md-2">
          <p class="slot-para"><b>Slot time:</b></p> 12:00
        </div>
        <div class="col-md-2">
          <a href="" class="slot-btn disabled">BOOK</a>
          <a href="" class="slot-btn">EDIT</a>
        </div>
      </div>
      <hr style="border-bottom: 1px solid #0009;">

      <div class="row">
        <div class="col-md-4  exam-name">
          International Mathematics Olympiad (IMO)
        </div>
        <div class="col-md-2">
          Final Exam
        </div>
        <div class="col-md-2">
          <p class="slot-para"><b>Exam date:</b></p>May 21,2019
        </div>
        <div class="col-md-2">
          <p class="slot-para"><b>Slot time:</b></p>--:--
        </div>
        <div class="col-md-2">
          <a href="" class="slot-btn">BOOK</a>
          <a href="" class="slot-btn disabled">EDIT</a>
        </div>
      </div>
      <hr style="border-bottom: 1px solid #0009;">
      <br>

    </h4>
  </div>

  <div class="container hide" id="mocktest">
    <center><br>
      <h1 class="register-title">Mock Test</h1>
    </center>
    <div class="row table-head">
      <div class="col-md-2">
        <b>Sr. no.</b>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <b>
          <p>
            <b>Name</b>
          </p>
        </b>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">

    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <a href="">
          International Mathematics Olympiad (IMO)
        </a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">

    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <a href="">
          International Mathematics Olympiad (IMO)
        </a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">
    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <a href="">
          International Mathematics Olympiad (IMO)
        </a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">
    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <a href="">
          International Mathematics Olympiad (IMO)
        </a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">
    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <a href="">
          International Mathematics Olympiad (IMO)
        </a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">

  </div>

  </div>
  </div>

  <div class=" box container hide" id="challenge">
    <center><br>
      <h4 style="color: red;" class="register-title ">No Answer keys available!</h4><br>
    </center>

  </div>

  <div class="box container hide" id="result">
    <center><br>
      <h3 style="color: red;" class="register-title">No results are available</h3>
    </center>

    <hr style="border-bottom: 1px solid #0009;">
  </div>


  {% load i18n %}
  {% load quiz_tags %}
  <div class="container row hide" id="subjects">

    {% if quiz_list %}

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Class" %}</th>
          <th>{% trans "Duration" %}</th>
          <th>{% trans "Time" %}</th>
          <th>{% trans "Action" %}</th>
        </tr>
      </thead>

      <tbody>

        {% for quiz in quiz_list %}

        <tr>
          {% if quiz.0.category|slugify ==  "mathsolym" %}
          <td>Mathematics Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "scienceolym" %}
          <td>Science Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "cyberolym" %}
          <td>Cyber Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "generalolym" %}
          <td>General Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "englisholym" %}
          <td>English Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "reasoningolym" %}
          <td>Reasoning Olympiad</td>
          {% endif %}
          <td>Class {{ quiz.0.title|slice:"2:4" }}</td>
          <td>60 mins</td>
          <td>{{quiz.1}}</td>

          <td>
            <button onclick="takeExam('{% url 'quiz_start_page' slug=quiz.0.url %}', '{{quiz.1}}')"
              class="slot-btn">TAKE EXAM</a>
        </tr>

        {% endfor %}
      </tbody>

    </table>

    <script>
      function takeExam(url, time) {
        console.log(url, time);
        date = time;
        date = date.replace(",", "").split(" ");
        start_time = new Date(`${date[1]}, ${date[0]}, ${date[2]}`)
        end_time = new Date(`${date[1]}, ${date[0]}, ${date[2]}`)
        current_time = Date.now()
        if (date[4] == "AM") {
          start_time.setHours(date[3].substr(0, 2), date[3].substr(3, 2))
          end_time.setHours(date[6].substr(0, 2), date[6].substr(3, 2))
        } else {
          start_time.setHours(Number(date[3].substr(0, 2)) + 12, date[3].substr(3, 2))
          end_time.setHours(Number(date[6].substr(0, 2)) + 12, date[6].substr(3, 2))
        }
        console.log(start_time)
        console.log(end_time)
        console.log(current_time)
        if (current_time < start_time) {
          Swal.fire({
            icon: 'error',
            title: 'Too Early',
            text: 'You can give the exam in the given time slot only',
          })
        }
        if (current_time > end_time) {
          Swal.fire({
            icon: 'error',
            title: 'Time up',
            text: 'The time to give this exam is over',
          })
        }
        if (current_time > start_time && current_time < end_time) {
          location.href = url
        }

      }
    </script>
    {% else %}
    <p>{% trans "There are no available Test. Please Book an Exam to view quiz" %}.</p><br><br>
    {% endif %}

  </div>

  <div class="container row hide" id="subjects_finalexam">

    {% if quiz_list %}

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Class" %}</th>
          <th>{% trans "Duration" %}</th>
          <th>{% trans "Time" %}</th>
          <th>{% trans "Action" %}</th>
        </tr>
      </thead>

      <tbody>

        {% for quiz in quiz_list %}

        <tr>
          {% if quiz.0.category|slugify ==  "mathsolym" %}
          <td>Mathematics Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "scienceolym" %}
          <td>Science Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "cyberolym" %}
          <td>Cyber Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "generalolym" %}
          <td>General Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "englisholym" %}
          <td>English Olympiad</td>
          {% endif %}
          {% if quiz.0.category|slugify ==  "reasoningolym" %}
          <td>Reasoning Olympiad</td>
          {% endif %}
          <td>Class {{ quiz.0.title|slice:"2:4" }}</td>
          <td>60 mins</td>
          <td>{{quiz.2}}</td>

          <td>
            <button onclick="takeExam('{% url 'quiz_start_page' slug=quiz.0.url %}', '{{quiz.2}}')"
              class="slot-btn">TAKE EXAM</a>
        </tr>

        {% endfor %}
      </tbody>

    </table>

    <script>
      function takeExam(url, time) {
        console.log(url, time);
        date = time;
        date = date.replace(",", "").split(" ");
        start_time = new Date(`${date[1]}, ${date[0]}, ${date[2]}`)
        end_time = new Date(`${date[1]}, ${date[0]}, ${date[2]}`)
        current_time = Date.now()
        if (date[4] == "AM") {
          start_time.setHours(date[3].substr(0, 2), date[3].substr(3, 2))
          end_time.setHours(date[6].substr(0, 2), date[6].substr(3, 2))
        } else {
          start_time.setHours(Number(date[3].substr(0, 2)) + 12, date[3].substr(3, 2))
          end_time.setHours(Number(date[6].substr(0, 2)) + 12, date[6].substr(3, 2))
        }
        console.log(start_time)
        console.log(end_time)
        console.log(current_time)
        if (current_time < start_time) {
          Swal.fire({
            icon: 'error',
            title: 'Too Early',
            text: 'You can give the exam in the given time slot only',
          })
        }
        if (current_time > end_time) {
          Swal.fire({
            icon: 'error',
            title: 'Time up',
            text: 'The time to give this exam is over',
          })
        }
        if (current_time > start_time && current_time < end_time) {
          location.href = url
        }

      }
    </script>
    {% else %}
    <p>{% trans "There are no available Test. Please Book an Exam to view quiz" %}.</p><br><br>
    {% endif %}

  </div>

  <div class="container hide" id="challenge-one">
    <center><br>
      <h1 class="register-title">CHALLENGES</h1>
    </center>
    <div class="row table-head">
      <div class="col-md-2">
        <b>Sr. no.</b>
      </div>
      <div class="col-md-6">
        <b>
          <p>
            <b>Name</b>
          </p>
        </b>
      </div>
      <div class="col-md-2">
        <b>Duration</b>
      </div>
      <div class="col-md-2">
        <b>Action</b>
      </div>
    </div>

    <hr style="border-bottom: 1px solid #0009;">

    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-6">
        International General Knowledge Olympiad (IGKO)
      </div>

      <div class="col-md-2">
        <b>60 min</b>
      </div>
      <div class="col-md-2">
        <a href="" class="slot-btn">TAKE EXAM</a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">

    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-6">
        International General Knowledge Olympiad (IGKO)
      </div>

      <div class="col-md-2">
        <b>60 min</b>
      </div>
      <div class="col-md-2">
        <a href="" class="slot-btn">TAKE EXAM</a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">

    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-6">
        International General Knowledge Olympiad (IGKO)
      </div>

      <div class="col-md-2">
        <b>60 min</b>
      </div>
      <div class="col-md-2">
        <a href="" class="slot-btn">TAKE EXAM</a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">

    <div class="row">
      <div class="col-md-2">
        1
      </div>
      <div class="col-md-6">
        International General Knowledge Olympiad (IGKO)
      </div>

      <div class="col-md-2">
        <b>60 min</b>
      </div>
      <div class="col-md-2">
        <a href="" class="slot-btn">TAKE EXAM</a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">
  </div>

  <div class="container hide" id="invoice">
    <center><br>
      <h1 class="register-title">INVOICE</h1>
    </center>
    <div class="row table-head">
      <div class="col-md-4">
        <p><b>Subject Name</b></p>
      </div>
      <div class="col-md-2">
        <p><b>Amount Paid</b></p>
      </div>
      <div class="col-md-2">
        <p><b>Transaction Date:</b></p>
      </div>
      <div class="col-md-2">
        <p><b>Transaction Status:</b></p>
      </div>
      <div class="col-md-2">
        <p><b>Action</b></p>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">
    <div class="row">
      <div class="col-md-4">
        <div class="slot-para"><b>Name:</b></div>
        IMO,ISO,IEO,ICO,IGKO,ICTO
      </div>
      <div class="col-md-2">
        <div class="slot-para"><b>Amount paid:</b></div>
        1350
      </div>
      <div class="col-md-2">
        <div class="slot-para"><b>Transaction Date:</b></div>
        2020-05-05 16:58:49
      </div>
      <div class="col-md-2">
        <div class="slot-para"><b>Transaction Status:</b></div>
        Complete
      </div>
      <div class="col-md-2">
        <div class="slot-para"><b>Action :</b></div>
        <a href="">Download</a>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #0009;">
    <br>
  </div>

  <div class="modal fade" id="previewCerificate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Certificate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="position: relative;">
          <div class="container">
            <p class="certificate-name">{{ request.user.first_name}} {{request.user.last_name}}</p>
            <img src="{% static 'Stock/certificate.jpg' %}" alt="" srcset="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="feedback" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Feedback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form action="{% url 'feedback' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="rating">Please provide comments or suggestions to improve our platform</label>
              <p style="margin-bottom: 0.0rem;" id="ratingValue">10</p>
              <input type="range" class="form-control-range" id="rating" name="rating" onchange="changeRating()">
              <script>
                value = document.getElementById("rating").value
                document.getElementById("ratingValue").innerText = value / 10

                function changeRating() {
                  value = document.getElementById("rating").value
                  document.getElementById("ratingValue").innerText = value / 10
                }
              </script>
            </div>

            <div class="form-group">
              <label for="suggestions">Please provide comments or suggestions to improve our platform</label>
              <textarea class="form-control" id="suggestions" name="suggestions" rows="3" required></textarea>
            </div>

            <div class="form-group">
              <label for="review">If you are happy with this initiative of conducting School Olympiads , please share a
                testimonial (we may publish the testimonial).</label>
              <textarea class="form-control" id="review" name="review" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>

      </div>
    </div>
  </div>

  {% endblock %}

  {% block js %}
  <!-- vendors -->

  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

  <script>
    function show(id) {
      var x = document.getElementById(id)
      x.classList.remove('hide');
      x.classList.add('shown');
      siblings = getSiblings(x)
      for (i in siblings) {
        if (siblings[i].tagName == 'DIV') {
          siblings[i].classList.add('hide');
          siblings[i].classList.remove('shown');
        }
      }
      menuOpen();
    }
    let getSiblings = function (e) {
      let siblings = [];
      if (!e.parentNode) {
        return siblings;
      }
      let sibling = e.parentNode.firstChild;
      while (sibling) {
        if (sibling.nodeType === 1 && sibling !== e) {
          siblings.push(sibling);
        }
        sibling = sibling.nextSibling;
      }
      return siblings;
    };
  </script>
  <script>
    function menuOpen() {
      var element = document.getElementById("menu");
      element.classList.toggle("menu-open");
      var elementone = document.getElementById("menu-ion-icon");
      elementone.classList.toggle("menu-ion-icon");
      var x = document.getElementById('menu-text');
      var y = document.getElementById('menu-text-one');
      x.classList.toggle('hide-menu-text');
      y.classList.toggle('hide-menu-text');
    }
  </script>
  <script>
    $(window).scroll(function () {
      $('.menu').toggleClass('menu-scrolled', $(this).scrollTop() > 0);
    });
  </script>


  {% endblock %}