{% extends 'base.html' %}
{% block body %}
{% load static %}

                            <!-- header -->
                            <!-- hero -->
                            <div class="container-fluid p-0" >
                              <div class="site-content" style="height: 450px; background-image: url({% static 'Stock/coord_bg.jpg' %});">
                                <div class="d-flex justify-content-center" >
                                  <div class="d-flex flex-column" style="padding-top: 120px">
                                    <h1 class="site-title  justify-content-center" style="text-align: center;">Exam Preparation
                                    </h1>
                                    <p class="site-desc"></p>

                                  </div>

                                </div>
                              </div>
                            </div>

                            <div>
               

  <div class="container">
    <!-- <p style="font-weight:bold;"> Awards And Recognition</p> -->
<h3>Exam Preparation</h3>
    <p style="padding-top: 20px;">
      
Workshops provided by us help in excelling at olympiad exams. Apart from various question banks, mock tests, quizzes and learning activities, these workshops provide better guidance, exam tips, book recommendations and more.
 
      <br>
<h5><strong>Question Banks:</strong></h5> Topic wise question banks for all classes to help strengthen concepts and ideas.
<h5><strong>Mock Tests:</strong></h5> Full-length mock papers to get a flavour of the final examination and assess your skills better.
<h5><strong>Workshops:</strong></h5> Join free workshops organized by us for exam preparation tips, guidance, book recommendations and more.
<h5><strong>Instant Evaluation: </strong></h5> On completion of worksheets, we provide instant evaluation which helps in understanding mistakes alongside providing improvement tips.
<h5><strong>Report and Analysis: </strong></h5>  A comprehensive report of a student’s individual performance is provided that helps assess his/her strengths and weaknesses.


<h5><strong> Revision:</strong></h5> Worksheets can be attempted upto three times. Review attempted worksheets for a quick revision.


<h5><strong>Fun zone: </strong></h5> Attempt plenty of fun quizzes, brain games and interesting activities to keep your mind fresh!


    </p>


  </section>


</div>
</section>
</div>
{% endblock %}