{% extends "base.html" %}
{% block title %} Exam Dates {% endblock %}
{% block body %}
{% load static %}
<!-- hero -->
<div class="container-fluid p-0" >
  <div class="site-content" style="height: 450px; background-image: url({% static 'Stock/exam_bg.jpg' %});">
    <div class="d-flex justify-content-center" >
      <div class="d-flex flex-column" style="padding-top: 80px">
        <h1 class="site-title  justify-content-center" style="text-align: center;">Exam Dates
        </h1>
        <p class="site-desc"></p>

      </div>

    </div>
  </div>
</div>

<div class="container row" style="padding-left: 7px">
  <p style="font-weight:bold;"><br><br> Olympiads Fee Structure</p><br>
  <p>For classes 2 to 11, the fee per subject per student is Rs. 225 for students studying and residing in India. It is $10 (USD) per subject per student for students studying and residing outside India. While for class 1, the fee per subject (English, Mathematics and Science) per student is Rs. 175 for students studying and residing in India. It is $8 (USD) per subject per student for students studying and residing outside India.</p>
    <br>
    <table class="table" style="overflow-x: auto;">
<thead class="thead-dark">
<tr>
<th scope="col"  class="d-none d-lg-block ">#</th>
<th scope="col">Olympiad Exam</th>
<th scope="col">Mock Test 1/Free Trial</th>
<th scope="col">Mock Test 2 Release</th>
<th scope="col">Mock Test 3 Release</th>
<th scope="col">Final Exam</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row" class="d-none d-lg-block ">1</th>
<td style="font-family:  'sriracha',cursive; font-size: 16px"> Cyber Olympiad </td>
<td>  March 16th, 2020 </td>
<td>March 23rd, 2020 </td>
<td>March 30th, 2020 </td>
<td>5th Dec 2020/23th Dec 2020</td>

</tr>
<tr>
<th scope="row" class="d-none d-lg-block ">2</th>
<td style="font-family:  'sriracha',cursive; font-size: 16px"> English Olympiad </td>
<td>  March 16th, 2020 </td>
<td>March 23rd, 2020 </td>
<td>March 30th, 2020 </td>
<td>06th Dec 2020/20th Dec 2020</td>
</tr>
<tr>
<th scope="row" class="d-none d-lg-block ">3</th>
<td style="font-family:  'sriracha',cursive; font-size: 16px"> Science Olympiad </td>
<td>  March 16th, 2020 </td>
<td>March 23rd, 2020 </td>
<td>March 30th, 2020 </td>
<td>14th Dec 2020/26th Dec 2020</td>

</tr>
<tr>
<th scope="row" class="d-none d-lg-block ">4</th>
<td style="font-family:  'sriracha',cursive; font-size: 16px"> Critical Thinking Olympiad </td>
<td>  March 16th, 2020 </td>
<td>April 6th, 2020 </td>
<td>April 13th, 2020</td>
<td>16th Dec 2020/27th Dec 2020</td>
</tr><tr>
<th scope="row" class="d-none d-lg-block ">5</th>
<td style="font-family:  'sriracha',cursive; font-size: 16px"> General Knowledge Olympiad </td>
<td>  March 16th, 2020 </td>
<td>April 6th, 2020 </td>
<td>April 13th, 2020</td>
<td>04th Dec 2020/24th Dec 2020</td>
</tr><tr>
<th scope="row" class="d-none d-lg-block ">6</th>
<td style="font-family:  'sriracha',cursive; font-size: 16px"> Maths Olympiad </td>
<td>  March 16th, 2020 </td>
<td>April 6th, 2020 </td>
<td>April 13th, 2020</td>
<td>19st Dec 2020/28th Dec 2020</td>
</tr>
</tbody>
</table><br><br>
<p><br><br>
1. All exams will have three Mock Tests and one Final Exam.<br>
2. The Mock Tests can be attempted 3 times by a student. He/she can give this test on any date/time.<br>
3. Your slot details will appear on the dashboard once your payment is confirmed for the subject(s). You can book your <br>
4. Final Exam time from this page. The slot time once booked can be changed later with payment of a nominal fee.<br>
5. The students have to appear for the exam as per the time slot selected by them.<br>
6. In Mock Tests, the ranking will not be declared.<br>
7. The answer keys for Final exam will be available only on the above-mentioned dates. During this period, the students can challenge the questions too.<br>
8. Due to COVID-19, we still have a few schools from where the students have to complete the exam. Hence, the Final Exam Results will be declared in the month of August for all the subjects.<br>
9. The above schedule may change under exceptional circumstances.<br>
</p>
<br><br>
</div>
</section>
</div>

  {% endblock %}
