{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block body %}
{% load static %}



<section style="padding:0; margin-bottom: 0;" class="container">

  <div id="div_left" class="d-none d-lg-block " >
    <div class="container p-0" >
      <div class="site-content" style="height: 640px;background-image: url({% static 'Stock/Login_bg.jpg' %})" >
        <div class="d-flex justify-content-center"  >
          <div class="d-flex flex-column" style="padding-top: 20px">
            <h1 class="site-title" style="text-align: center;">Welcome back to International Student Olympiad Foundation
            </h1>
            <p class="site-desc"></p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Hero right -->
   <div id="div-right" class="d-flex justify-content-center justify-content-md-start  d-none d-lg-block "> 
    <div class="container p-0" id="div-right" >
      <div class="site-content" style="height: 640px; background-image: url({% static 'Stock/Login_bg.jpg' %})">
        <div class="d-flex justify-content-center" >
          <div class="d-flex flex-column justify-content-left justify-content-md-start d-none d-lg-block" style="box-shadow: 0px 7px 10px #0009;border-radius: 10px;">
            <br><br><br><div class="container" id="form-group">
              <center><h2 style="color: white; font-family: 'sriracha',cursive;">LOGIN</h2></center>
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="color: #43CEC9;">
                    <strong>{{message}}</strong>

                  </div>
                  {% endfor %}
              <form action="" name="form3" method="post" onsubmit="return regEx()">
              {% csrf_token %}

                <div class="form-group row" style="padding-top: 13px">
                  <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-user-circle d-none d-lg-block" style="font-size:30px; color: white; text-align: center;"></i></label>
                  <div class="col-md-10">

                    <input type="text" class="form-control" id="username" name ="username" placeholder="Username">
                  </div>
                </div>

                <div class="form-group row" >
                  <label  class="col-sm-2 col-form-label"><i class="fa fa-id-card d-none d-lg-block" style="font-size:30px; color: white; text-align: center;"></i></label>
                  <div class="col-sm-10">

                    <input type="password" class="form-control" id="password" name ="password" placeholder="Password">
                  </div>
                </div>

                <div>
                  <center>
                    <a href="reset_password/" style="justify-content: center;text-align: center;"> Forgot Password?</a>

                  </center>

                </div>
                <div>
                  <center>
                  <input class="review-btn" style="border-radius: 3px;"  type="submit" name="login" value="Login"><br>
                   {% comment %} <button  style="padding:10px ; margin: 20px; background-color: #43CEC9">Submit</button> {% endcomment %}
                 </center>

               </div>

             </form>


  
</div>
</div>
</div>
</div>

</section>
<!-- ***** Footer Area Start ***** -->
{% endblock %}
{% block js %}
<script>

            function regEx()
            {
            function testName()
            {
                var name = document.form3.name.value;
                var letters = /^[a-zA-Z_ ]+$/;
                if (!name.match(letters)){
                alert("Name can have only letters.");
                return false;
                }
                return true;
            }
            function testZip()
            {
                var zip = document.form3.phonenum.value;


                if (!zip.match(/^\d{10}$/)){
                alert("A number has 10 integers.");
                return false;
                }
                return true;
            }
            return testName()&&testZip();

            }
            

</script>
{% endblock %}
