{%  extends 'base.html' %}
{% block title %} PAPER {% endblock %}
{% block body %}
{% comment %} {% if message %}
{% for message in messages %}
<div>
<strong>{{message}}</strong></div>
{% endfor %}
{% else %} {% endcomment %}

{% comment %} {{order}} {% endcomment %}
<br>
<br>
<br>
<br>
<br>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<label>upload file</label>
<input type="text" name="quiz_name">
<input type="file" name="file">
<input type="submit" value="UPLOAD">
</form>
{% endblock %}
