{% extends 'base.html '%}
{% block title %} Reset Password {% endblock %}
{% block body %}


        <div class="container" style="background-color: #0009;">
            <br><br><br><br><br>
        </div>
        <div class="container">
            <div class="row">
            <h3>Password Reset</h3>
            </div>
        <div class="row">
        <p>Enter the email address below to send link to reset password</p>
    </div>
        <div class="row">
            <div class="col-md-10"><form action="" method="post">
                {% csrf_token %}
               {{form}}
               <center>
               <input type="submit" name="Send Email" class="review-btn">
               </center>
            </form></div>

    </div>
</div>
{% endblock %}