{% extends 'base.html' %}
{% block title %} Password Reset Sent  {% endblock %}
{% block body %}
<div class="container" style="background-color: #0009;">
    <style>
        .box{
            box-sizing:content-box;
            
            background-color: lightblue;
            border-width: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }
        .margin{
            display: flex;
            justify-content: center;
        }
    </style>
    <br><br><br><br><br>
</div>
<div class="box">
<div class="container">
    <div class="row mt-5 mb-5">
        <div ><h1>Check your mail</h1></div><br><br>
        <p>We have  emailed you instructions for setting your password, if an account exists with the email you entered.</p>

<p>If you do not receive a password reset message after 1 minute, verify that you entered the correct email address, or check your spam folder.

    If you need further assistance,<a style="color: red;" href="{% url 'contact' %}">contact technical support</a></p>
<br><br>

    </div>
</div>
</div>
<div class="margin" >
   <p>Click here to go to<a style="color: blue;" href="{% url 'loginhandle' %}"> login</a> page</p>
</div>
{% endblock %}