{% extends 'base.html' %}
{% block title %} Password Reset Sent  {% endblock %}
{% block body %}
<div class="container" style="background-color: #0009;">
    <br><br><br><br><br>
</div>
<div class="container">
    <div class="row mt-5 mb-5">
        
        <p>We have  emailed you instructions for setting your password, if an account exists with the email you entered.</p>

<p>If you don't receive an email,please make sure you have entered correct email address</p>
<br><br>
    </div>
</div>
{% endblock %}