{% extends 'base.html' %}
{% block title %} Password reset compplete
{% endblock title %}
{% block body %}
<style>
     .margin{
            display: flex;
            justify-content: center;
     }
       .border {
    width: 700px;
    border: 30px solid green;
    position: relative;
    background-color: lightgray;
    margin-top:50px ;
    margin-bottom: 200px;
   }
</style>

<div class="container" style="background-color: #0009;">
    <br><br><br><br><br>
</div>
<div class=" border container">
    <div  class="row margin">
        <p><h2>Your Password has been set successfully</h2></p>
    </div><br><br><br>
    <div class="margin" >
        <p>Click here to go to<a style="color: blue;" href="{% url 'loginhandle' %}"> login</a> page</p>
     </div>
     <br><br><br><br>
    <div class="row">
        {% comment %} <a class="review-btn" href="/loginhandle/"> Log In</a> {% endcomment %}
    </div>
</div>
{% endblock  %}