{% extends "base.html" %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}
{% trans "Progress Page" %}
{% endblock %}
{% block description %}
{% trans "User Progress Page" %}
{% endblock %}
{% block body %}
<style>
  .box {
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    width: auto;
    max-width: 700px;
    border: 15px solid black;
    margin-bottom: 80px;

  }
</style>
<div class="d" style="background-color: #0007;"><br><br><br><br></div>

{% if exams %}

<div class="container row">
  <div>
    <center>
      <h1 style="
        margin-top: 90px;
        margin-bottom: -5px;">{% trans "Previous exam papers" %}</h1>
      <p class="lead  m-auto">
        {% trans "Below are the results of exams that you have sat." %}
      </p>
    </center>

  </div>
  <table class="table table-bordered table-striped resp-table">
    <thead>
      <tr>
        <th>{% trans "Quiz Title" %}</th>
        <th>{% trans "Class" %}</th>
        <th>{% trans "Score" %}</th>
        <th>{% trans "Possible Score" %}</th>
        <th>%</th>
      </tr>
    </thead>

    <tbody>
      {% for exam in exams %}

      <tr>
        {% if exam.quiz.category|slugify ==  "mathsolym" %}
				<td>Mathematics Olympiad</td>
				{% endif %}
				{% if exam.quiz.category|slugify ==  "scienceolym" %}
				<td>Science Olympiad</td>
				{% endif %}
				{% if exam.quiz.category|slugify ==  "cyberolym" %}
				<td>Cyber Olympiad</td>
				{% endif %}
				{% if exam.quiz.category|slugify ==  "generalolym" %}
				<td>General Olympiad</td>
				{% endif %}
				{% if exam.quiz.category|slugify ==  "englisholym" %}
				<td>English Olympiad</td>
				{% endif %}
				{% if exam.quiz.category|slugify ==  "reasoningolym" %}
				<td>Reasoning Olympiad</td>
				{% endif %}
				<td>Class {{ exam.quiz.title|slice:"2:4" }}</td>
        <td>{{ exam.current_score }}</td>
        <td>{{ exam.get_max_score }}</td>
        <td>{{ exam.get_percent_correct }}</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class=" box container" style="margin-top:60px;">
  <center><br>
    <h4 style="color: red;font-size: 3rem;margin-bottom:0px;" class="register-title ">No Progress reports available!
    </h4><br>
    <a href="{% url 'quiz_index' %}" style="margin-bottom: 10px;">Click here to give an exam</a> <br>OR<br>
    <a href="{% url 'quiz_mock' %}" style="margin-bottom: 10px;">Click here for a free trial</a>
  </center>
</div>
{% endif %}

{% endblock %}