{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block body %}
<div class="d" style="background-color: #0007;"><br><br><br><br><br></div><br><br><br>
<div class="container row">

    {% if quiz_list %}
	
    <h2>{% trans "List of quizzes" %}</h2>
		<table class="table table-bordered table-striped resp-table">

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Category" %}</th>
			
			  <th>{% trans "Give Exam" %}</th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}



  			<tr>
				{% if quiz.category|slugify ==  "mathsolym" %}
				<td>Mathematics Olympiad</td>
				{% endif %}
				{% if quiz.category|slugify ==  "scienceolym" %}
				<td>Science Olympiad</td>
				{% endif %}
				{% if quiz.category|slugify ==  "cyberolym" %}
				<td>Cyber Olympiad</td>
				{% endif %}
				{% if quiz.category|slugify ==  "generalolym" %}
				<td>General Olympiad</td>
				{% endif %}
				{% if quiz.category|slugify ==  "englisholym" %}
				<td>English Olympiad</td>
				{% endif %}
				{% if quiz.category|slugify ==  "reasoningolym" %}
				<td>Reasoning Olympiad</td>
				{% endif %}
			  <td>Class {{ quiz.title|slice:"2:4" }}</td>
			  
			  <td>
				<a href="{% url 'trial_quiz_start_page' slug=quiz.url %}">
				  {% trans "View details" %}
				</a>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}

    <h2>{% trans "There are no available quizzes" %}</h2>

	{% endif %}
	</div><br><br>
{% endblock %}
