{% extends 'base.html' %}
{% block body %}
{% load static %}
                      <div class="container-fluid p-0" >
                        <div class="site-content" style="height: 450px; background-image: url({% static 'Stock/awards_bg2.jpg' %});">
                          <div class="d-flex justify-content-center" >
                            <div class="d-flex flex-column" style="padding-top: 120px">
                              <h1 class="site-title  justify-content-center" style="text-align: center;">Ranking Criteria
                              </h1>
                              <p class="site-desc"></p>

                            </div>

                          </div>
                        </div>
                      </div>
                  
                  <div class="container shown" id="profile"><br>
                  <br><br>
                    <div class="row" style="color: #000;">
                    <h3 style="text-decoration: underline;"><b>CRITERIA FOR RANKING- SINGLE LEVEL OLYMPIAD EXAMS:</b></h3>
                    <br>
                  </div>  
                  
                  <div class="row container">
                      <p><i class="fa fa-chevron-right"></i> Total marks obtained in the exam.</p>
                      <p><i class="fa fa-chevron-right"></i> In case two or more students score the same number of marks, ranks will be determined on the basis of marks scored in more priority accorded sections.</p>
                      <p><i class="fa fa-chevron-right"></i> In the event of a tie, marks scored by the student in the previous class might be considered to determine a rank.</p>
                      <p><i class="fa fa-chevron-right"></i> In the event of two or more students scoring the same marks after considering both the above criteria, they will be awarded the same rank.</p>
                      <p><i class="fa fa-chevron-right"></i> In case two or more students score same marks under the criteria above, they will be awarded the same rank.</p>
                      <p><i class="fa fa-chevron-right"></i> In case of any confusion that prevails, the decision of the Academic Council will be final and binding. A telephonic round of questions may be conducted as well, to determine ranks.In case of any confusion, decision of the Academic Council will be final & binding.</p>
                    <br><br>
                  </div>
                  <div class="row">
                    <h3 style="text-decoration: underline;"><b>CRITERIA FOR QUALIFICATION FOR 2ND LEVEL OLYMPIAD EXAMS :</b></h3>
                    <br>
                  </div>
                  <div class="row container">
                    <p style="color: #000;font-weight:bold; ">Second level exams will be held for English (ISEO), Science (ISSO) and Mathematics (ISMO) Olympiads for students from class 3 onwards.</p>
                    <br>
                    <p style="color: #000;font-weight:bold; ">Students who fulfill either of the three following criteria will qualify for the 2nd level Olympiad exams:</p>
                    <p><i class="fa fa-chevron-right"></i> Class wise, top 5% of students who appear for the 1sr level exam. Priority to marks scored in different sections will be given.</p>
                    <p><i class="fa fa-chevron-right"></i> From each class, the top 25 rank holders in each zone.</p>
                    <p><i class="fa fa-chevron-right"></i> The class topper from each participating school where at least 10 students from a class appear and score 50% qualifying marks</p>
                  </div>
                  <br><br>
                  <div class="row">
                    <h3 style="text-decoration: underline;"><b>CRITERIA FOR RANKING IN 2ND LEVEL OLYMPIAD EXAM :</b></h3>
                    <br>
                  </div>
                  <div class="row">
                    <p style="color: #000;font-weight:bold; ">Ranks will be awarded according to the following criteria:</p>
                  </div>
                  <div class="row container">
                    <p>Total marks obtained in the level 2 exam.</p>
                  </div>
                  <div class="row">
                    <p style="color: #000;font-weight:bold; ">
                      In the event of two or more students scoring the same number of marks, ranks will be determined as followed:
                    </p>
                  </div>
                  <div class="row container">
                    <p><i class="fa fa-chevron-right"></i> Marks scored in higher priority sections in the level two exam.</p>
                    <p><i class="fa fa-chevron-right"></i> On the basis of the total marks scored by the candidate in the level one exam..</p>
                    <p><i class="fa fa-chevron-right"></i> Marks scored in higher priority sections in the level one exam.</p>
                  </div>
                  <br><br>
                  <div class="row">
                    <h4 style="color: #000;font-weight:bold;text-decoration: underline;">
                      Section-wise Priority :
                    </h4>
                  </div>

                    <div class="row">
                    <p style="font-size: 30px;"><b>
                      ISC0
                    </p></p>
                    <ol>
                      <li> Achievers section</li>
                      <li> Computer and Information Technology</li>
                      <li> Logical and Analytical Reasoning</li>
                    </ol><br>
                  </div>

                  <div class="row">
                    <p style="font-size: 30px;"><b>
                      ISS0
                    </p></p>
                    <ol>
                      <li> Achievers section</li>
                      <li> Science</li>
                      <li> Logical Reasoning</li>
                        <p style="font-size: 20px;"><b>
                          For classes 11 & 12:
                          <ol>
                            <li>Achievers section</li>
                            <li>Physics</li>
                            <li>Chemistry</li>
                            <li>Mathematics/ Biology</li>
                          </ol>
                        </p></p>
                    </ol><br>
                  </div>
                  <div class="row">
                    <p style="font-size: 30px;"><b>
                      ISM0
                    </p></p>
                    <ol>
                      <li> Achievers section</li>
                      <li> Mathematical Reasoning</li>
                      <li>  Everyday Mathematics</li>
                      <li> Logical Reasoning</li>
                    </ol><br>
                  </div>

                  <div class="row">
                    <p style="font-size: 30px;"><b>
                      ISE0
                    </p></p>
                    <ol>
                      <li> Achievers section</li>
                      <li> Word & Structure Knowledge</li>
                      <li> Reading</li>
                      <li>Spoken & Written Expression</li>
                    </ol><br>
                  </div>

                  <div class="row">
                    <p style="font-size: 30px;"><b>
                      ISGK0
                    </p></p>
                    <ol>
                      <li> Achievers section</li>
                      <li> General Awareness</li>
                      <li> Current Affairs</li>
                      <li> Life Skills</li>
                    </ol><br>
                  </div>

                  </div>
{% endblock %}
                   {% block js %}
                              <script>
                                function menuOpen() {
                                       var element = document.getElementById("menu");
                                       element.classList.toggle("menu-open");
                                       var elementone = document.getElementById("menu-ion-icon");
                                       elementone.classList.toggle("menu-ion-icon");
                               }
                             </script>
                                  <script>
                                    $(window).scroll(function(){$('.menu').toggleClass('menu-scrolled', $(this).scrollTop() > 0);});
                                  </script>
            {% endblock %}
