{% extends 'base.html' %}
{% block title %}Subject{% endblock %}
{% block body %}
{% load static %}
                            <div class="container-fluid p-0" >
                              <div class="site-content" style=" height: 720px; background-image: url({% static 'Stock/cyber_bg.jpeg' %});background-size:cover;background-repeat:no-repeat;">
                                <div class="d-flex justify-content-center" >
                                  <div class="d-flex flex-column" style="padding-top: 120px">
                                    <h1 class="site-title" style="text-align: center;color: red">Cyber
                                    </h1>
                                    <p class="site-desc"></p>

                                  </div>

                                </div>
                              </div>
                            </div>

                            <div>
                              <section>
                                <div>

                                  <div class="container row">
                                    <!-- <p>Click on the below questions to solve your queries</p> -->
                                    <p>The International School Cyber Olympiad (ISCO) of the year 2020 will be conducted online. Participants can vary from classes 1-12. Students wishing to take part can give three mock tests followed by one final test. 
                                        The computer olympiad helps in identifying, guiding and nurturing students interested in the fields of science, technology and the IT sector. 
                                        The exam consists of multiple choice questions (MCQ type).
                                        The total time provided for the examination will be    for classes 1 and     for classes 2 to 12.
                                        After evaluation of results of the cyber olympiad, participants will be provided with a detailed report on their performance.  This report will be divided into specific sections and categories helping students understand their strengths and weaknesses.
                                        Please refer to the exam preparation section for better guidance,book recommendations and exam tips.
                                        <br><br>

                                      The exam will be divided into sections as follows: <br><br>

                                      <strong>Class 1-12:</strong>  &nbsp   Cyber <br>
<br><br>
                                      <!-- Achievers section -->

                                    <!-- Achievers section -->
                                  </p>
                                  <p>
                                    <a href="{% url 'rankingcriteria' %}">Ranking Criteria</a> -  For ranking criteria of all subjects, please visit here<br>
                                    <a href="/markingscheme/cyber">Marking Scheme</a><br>
                                    <a href="/syllabus/cyber/1">Syllabus</a> - The syllabus for the cyber olympiad 2020 comprises topics covered in the IGCSE, CBSE and ICSE syllabus’.  Visit here<br>
                                    <a href="/samplepaper/cyber/1">Sample Papers</a> - For viewing sample papers of all subjects, please visit here
                                  </p>
                                  </div>
                                </section>
                              </div>
{% endblock %}
