 {% extends 'base.html' %}
 {% load static %}
{% block title %} Subscriptions {% endblock %}
{% block body %}
<!--body style="padding-top=80px;">
 <!--style >
  a {
    color: rgba(255, 0, 0, 0.7);
    line-height: inherit;
    text-decoration: none;
}
    a:hover, a:focus {
    color: red;
    font-weight: bold;
     text-shadow: 1px 1px black;
}
#dropdownMenuButton:hover{
    color: red;
    font-weight: bold;
     text-shadow: 1px 1px black;
}
</style-->


                      <!-- hero -->
                      <section class="container-fluid p-0" >
                        <div class="site-content" style="height: 450px; background-image: {% static 'Stock/download (1).jpg' %};">
                          <div class="d-flex justify-content-center" >
                            <div class="d-flex flex-column" style="padding-top: 120px">
                              <h1 class="site-title  justify-content-center" style="text-align: center;">Subscriptions
                              </h1>
                              <p class="site-desc"></p>

                            </div>

                          </div>
                        </div>
                      </section>



                            <form action="" id="theForm" style="padding: 20px" method="POST">
                              <!--legend>
                Select The Subscriptions And Read The Below Instructions Before Purchasing
            </legend-->

            <center>

              <h3>Your Subscriptions</h3><br>

              </center>
<div class="row">
  
  <table>
    <tr>
      <th>Quiz Name </th>
      <th>Date & Time</th>

    </tr>

      {% csrf_token %}

    {% if request.user.final_cyberolym %}


    <tr>
      <td>Cyber Olympiad</td>
      <td>{{ request.user.cybertime }}</td>



    </tr>

    {% endif %}


    {% if request.user.final_mathsolym %}


    <tr>
      <td>Maths Olympiad</td>
      <td>{{ request.user.mathtime }}</td>

    {% endif %}


    {% if request.user.final_scienceolym %}


    <tr>
      <td>Science Olympiad</td>
      <td>{{ request.user.sciencetime }}</td>

    {% endif %}

    {% if request.user.final_generalolym %}


    <tr>

      <td>Gk Olympiad</td>
      <td>{{ request.user.gktime }}</td>


    {% endif %}

    {% if request.user.final_reasoningolym %}


    <tr>

      <td>Reasoning Olympiad</td>
      <td>{{ request.user.reasoningtime }}</td>


    {% endif %}

    {% if request.user.final_englisholym %}


    <tr>
      <td>English Olympiad</td>
      <td>{{ request.user.englishtime }}</td>


    {% endif %}




  </table>
</div>
            <form action="" method="post" class="third" >



    {% csrf_token %}
    <div class="form-group row">
      <label>Order Amount:</label><br>
      <input type="text" readonly class="form-control" name="orderAmount" placeholder=" Amount " id="field"/>
    </div>

    <div class="row sub-row mb-3">
      {% if stud.final_mathsolym %}

    <label for="mathsolym"class='d-l' ><p> MATHS OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="mathsolym" name="mathsolym" disabled="true">

        {% else %}
        <label for="mathsolym" class="l"><p>MATHS OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="mathsolym" name="mathsolym" onchange="Update(this)">
       {% endif %}
    </div>


    <div class="row sub-row mb-3">
      {% if stud.final_englisholym %}

    <label for="englisholym" class="d-l"><p>ENGLISH OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="englisholym" name="englisholym" disabled="true">

        {% else %}
        <label for="englisholym" class='l'><p>ENGLISH OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="englisholym" name="englisholym" onchange="Update(this)">
        {% endif %}
    </div>

    <div class="row sub-row mb-3">
      {% if stud.final_scienceolym %}

    <label for="scienceolymm" class="d-l"><p>SCIENCE OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="scienceolymm" name="scienceolym" disabled="true" >
        {% else %}
        <label for="scienceolym" class='l'><p>SCIENCE OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="scienceolym" name="scienceolym" onchange="Update(this)">
        {% endif %}
    </div>


    <div class="row sub-row mb-3">
      {% if stud.final_cyberolym %}
    <label for="cyberolymm" class="d-l"><p>CYBER OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="cyberolymm" name="cyberolym" disabled="true" >

        {% else %}
        <label for="cyberolym" class='l'><p>CYBER OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="cyberolym" name="cyberolym" onchange="Update(this)">
        {% endif %}
    </div>

    <div class="row sub-row mb-3">
      {% if stud.final_reasoningolym %}

      <label for="reasoningolymm" class="d-l"><p>REASONING OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="reasoningolymm" name="reasoningolym" disabled="true">

        {% else %}
        <label for="reasoningolym" class='l'><p>REASONING OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="reasoningolym" name="reasoningolym" onchange="Update(this)">
        {% endif %}
    </div>

    <div class="row sub-row mb-3">
      {% if stud.final_generalolym %}

    <label for="generalolym" class="d-l"><p>GENERAL OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="generalolym" name="generalolym" disabled="true">

        {% else %}
        <label for="generalolym" class='l'><p> GENERAL OLYMPIAD(150)</p></label>
        <input type="checkbox" value="True" id="generalolym" name="generalolym" onchange="Update(this)">
        {% endif %}
    </div>

    <div class="row instructions">

      <p><b>Important Instructions : </b></p>
      <ul style="list-style-type:disc">
        <li>International School Olympiads is based on the combined syllabus of the CBSE, ICSE and IGCSE boards.</li>
        <li>International School Olympiads conducts examinations in both online and offline modes.
          <ul style="list-style-type: circle;">
            <li>In case of online mode, the exam will be conducted online i.e. either on laptop or desktop. The students will have to take the exams from their residence or any other place where they have access to computer with good Internet connectivity (2 Mbps) and latest version of the browser (preferably Google Chrome). If schools have subscribed for online mode of exam, then they may decide to conduct these exams using their computer lab.</li>
            <li>In case of offline mode, the exam will be conducted in schools only in pen/paper mode.</li>
          </ul>
        </li>
        <li>In case of offline mode, the exam will be conducted in schools only in pen/paper mode.</li>
        <li>The online mode of examinations will be thoroughly invigilated. Hence, the provision of a webcam is compulsory on every laptop/desktop.</li>
        <li>To know more about the exam and answer key dates, please check the <a href="{% url 'examdates' %}">exam dates</a> page.</li>
        <li>Students will be provided with 3 Mock Tests which can be attempted upto 3 times by a student.</li>
        <li>For further information, read the <a href="{% url 'faqs' %}">Frequently Asked Questions (FAQs)</a> thoroughly.        </li>
        <li>Do note that the fees once paid is non-refundable. For any queries or suggestions, do write to us at     </li>
      </ul>
      <br>
      <input type="checkbox" name="" id="checkbox" style="width: 20px;height: 20px; transform: translateY(7px);" onchange="toggleDisable()">
      <span class="" style="font-size: 1.5rem;margin-left: 10px;"> I acknowledge that I have read all the above instructions and comply to the same.</span>
      <br><br>
  </div>
  <center>
<input type="submit" value='Review & Pay' id="review-btn" disabled class="review-btn">  </center>
</form>





                          </div>

                          <div class="backdrop" id="feedback" >
                            <div class="feedback">
                                <button class="close-btn" onclick="feedback()"><ion-icon style="color: #fff;" name="close"></ion-icon></button>
                                <center>
                                    <h1 class="register-title">FEEDBACK FORM</h1>
                                  </center>
                                  <div class="container">
                                      <div class="row">
                                    <div class="col-md-6">
                                    How likely would you recommend this test to your friends on a scale of 1 to 10? *
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <select id="country" name="country" class="select-css">
                                            <option value=1">1</option>
                                            <option value=2">2</option>
                                            <option value=3">3</option>
                                            <option value=4">4</option>
                                            <option value=5">5</option>
                                            <option value=6">6</option>
                                            <option value=7">7</option>
                                            <option value=8">8</option>
                                            <option value=9">9</option>
                                            <option value="10">10</option>

                                        </select>
                                    </div>
                                  </div>
                                  <hr style="border-bottom: 1px #0009;">
                                  <div class="row">
                                      <div class="col-md-6">
                                        If you are happy about the initiative which Unicus Olympiads is taking to conduct Summer Olympiads, then do share a testimonial below. (we may publish the testimonial)
                                      </div>
                                      <div class="col-md-1"></div>
                                      <div class="col-md-5">
                                          <textarea name="" id="" cols="30" rows="5"></textarea>
                                      </div>
                                  </div>
                                <hr style="border-bottom: 1px #0009;">
                                <div class="row">
                                    <div class="col-md-6">
                                        We would love to hear your comments/suggestions to improve the platform.*
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <textarea name="" id="" cols="30" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <center>
                                <button class="review-btn" >S U B M I T</button>
                            </center>
                            <hr style="border-bottom: 1px #0009;">
                            <center>
                                <button class="review-btn">JOIN GROUP</button>
                            </center>
                            <hr style="border-bottom: 1px #0009;">

                            </div>
                            </div>
                          </div>



              <!-- vendors -->

              <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
      <script>
function totalIt() {
  var input = document.getElementsByName("product");
  var total = 0;
  for (var i = 0; i < input.length; i++) {
    if (input[i].checked) {
      total += parseFloat(input[i].value);
    }
  }
  document.getElementById("total").value = "$" + total.toFixed();
}
</script>
                      <script>
                        function menuOpen() {
                               var element = document.getElementById("menu");
                               element.classList.toggle("menu-open");
                               var elementone = document.getElementById("menu-ion-icon");
                               elementone.classList.toggle("menu-ion-icon");
                       }
                     </script>
                          <script>
                            $(window).scroll(function(){$('.menu').toggleClass('menu-scrolled', $(this).scrollTop() > 0);});
                          </script>
                        <script>
                          function show(id){
                              var x = document.getElementById(id)
                              x.classList.remove('hide');
                              x.classList.add('shown');
                              siblings = getSiblings(x)
                              for( i in siblings){
                                if(siblings[i].tagName == 'DIV'){
                                siblings[i].classList.add('hide');
                                siblings[i].classList.remove('shown')
                                ;}
                              }
                              menuOpen();
                        }
                        let getSiblings = function (e) {
                          // for collecting siblings
                          let siblings = [];
                          // if no parent, return no sibling
                          if(!e.parentNode) {
                              return siblings;
                          }
                          // first child of the parent node
                          let sibling  = e.parentNode.firstChild;

                          // collecting siblings
                          while (sibling) {
                              if (sibling.nodeType === 1 && sibling !== e) {
                                  siblings.push(sibling);
                              }
                              sibling = sibling.nextSibling;
                          }
                          return siblings;
                        };

                        </script>
                        <script>
                          var price = 0;
                          function Update(e){
                            s(e);
                          var element = document.getElementById('field');
                          if(e.checked){
                              price = price + 150;
                          }else if(!(e.checked)){
                              if(price>0){
                                  price = price - 150;
                                  if(price < 0){
                                      price = 0
                                  }
                              }
                          }
                          element.value = price.toString();
                      }
                      </script>
                      <script>
                        function toggleDisable(){
                          var element = document.getElementById('review-btn');
                          console.log(element.disabled);
                            if(element.disabled === true){
                              element.disabled = false;
                            }else{
                              element.disabled = true;
                            }
                          console.log(element.disabled);
                        }
                      </script>
                      <script>
                        function s(e){
                          e.parentElement.classList.toggle('sub-row-selected');
                        }
                      </script>

{% endblock %}
