{% if stud.final_mathsolym %}
<label for="mathsolym">MATHS OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="mathsolym" name="mathsolym" disabled="true">
    {% elif %}
    <label for="mathsolym">MATHS OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="mathsolym" name="mathsolym">
   {% endif %}

{% if stud.final_englisholym %}
<label for="englisholym">ENGLISH OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="englisholym" name="englisholym" disabled="true">
    {% elif %}
    <label for="englisholym">ENGLISH OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="englisholym" name="englisholym">
    {% endif %}

{% if stud.final_scienceolym %}
<label for="scienceolym">SCIENCE OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="scienceolym" name="scienceolym" disabled="true" >
    {% elif %}
    <label for="scienceolym">SCIENCE OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="scienceolym" name="scienceolym">
    {% endif %}

{% if stud.final_cyberolym %}
<label for="cyberolym">CYBER OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="cyberolym" name="cyberolym" disabled="true">
    {% elif %}
    <label for="cyberolym">CYBER OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="cyberolym" name="cyberolym">
    {% endif %}

{% if stud.final_reasoningolym %}
  <label for="reasoningolym">REASONONG OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="reasoningolym" name="reasoningolym" disabled="true">
    {% elif %}
    <label for="reasoningolym">REASONONG OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="reasoningolym" name="reasoningolym">
    {% endif %}

{% if stud.final_internationalspell %}
<label for="internationalspell">INTERNATIONAL SPELL BEE(150)</label>
    <input type="checkbox" value="True" id="internationalspell" name="internationalspell" disabled="true">
    {% elif %}
    <label for="internationalspell">INTERNATIONAL SPELL BEE(150)</label>
    <input type="checkbox" value="True" id="internationalspell" name="internationalspell">
    {% endif %}
