{% extends 'base.html' %}
{% block body %}
{% load static %}
                      <!-- header -->
                      <!-- hero -->
                      <div class="container-fluid p-0" >
                        <div class="site-content" style="height: 400px; background-image: url({% static 'Stock/contact_bg.jpg' %});">
                          <div class="d-flex justify-content-center" >
                            <div class="d-flex flex-column" style="padding-top: 80px">
                              <h1 class="site-title  justify-content-center" style="text-align: center;">Workshops
                              </h1>
                              <p class="site-desc"></p>

                            </div>

                          </div>
                        </div>
                      </div>
                      <!-- Hero End -->
                      <section class="justify-content-center" >
                        <div>

                          <div class="container">
                            <p><h3><strong>Career:</strong></h3>&nbsp &nbsp We aim to reach unparalleled levels of success and our determined and dedicated team help in achieving the same. Work with us for the best opportunities, outcome and goal development. Our hardworking, goal-oriented and self- motivated team ensures the best quality of work and is determined not to disappoint.</p>

                            <p><h3><strong>Educational Workshop:</strong> </h3><br>&nbsp &nbsp The motto of the workshops organized by us is to develop and enhance skills of students which will help them ace examinations. Join free workshops by qualified educators which we offer, for better guidance, tips on clearing exams smoothly, subject clarifications, book recommendations and more. The importance of the said opportunities cannot be over emphasised hence making these workshops and important choice to opt for.</p>

                            <p><h3><strong>Training Workshop:</strong> </h3><br>&nbsp &nbsp The aim of these workshops provided by us is to effectively train teachers and schools in better guidance and management. The teachers training workshops help teachers in various aspects such as personal growth, teaching techniques, etc. These workshops also provide school management training which can be of great benefit. The proper method of taking offline mode of olympiad exams including guidance on the usage of OMR sheets is also a part of these workshops thus making it an important choice to opt for. </p>

                          </div>
                        </div>
                      </section>


                        <!-- ***** Contact Area Start ***** -->
{% endblock %}
